<!-- users/templates/users/dog_modal.html -->
{% load static %}
<div class="carousel-container">
    <div class="carousel-header dog-selection-section">
        <div class="slider_button_group">
            <div class="slider">
                <button class="slider-btn active" data-tab="my">Мои собаки</button>
                <button class="slider-btn" data-tab="other">Другие собаки</button>
            </div>
            <button id="show-add-dog-form-btn" class="btn btn-secondary btn-s">Добавить +</button>
        </div>

        <div class="carousel-actions">
            <input type="text" id="modal-dog-search" class="input search-input" placeholder="Поиск по кличке">
            <button class="carousel-prev btn btn-secondary btn-s">
                <img src="{% static 'images/arrow.svg' %}" alt="Назад">
            </button>
            <button class="carousel-next btn btn-secondary btn-s">
                <img src="{% static 'images/arrow.svg' %}" alt="Вперед">
            </button>
        </div>
    </div>
    <div class="carousel-grid" id="modal-my-dogs-list"></div>
    <div class="carousel-grid" id="modal-other-dogs-list" style="display: none;"></div>
    <div class="carousel-dots"></div>
</div>